# --- Server ---
PORT=4000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:8080

# --- Database ---
MONGO_URI=mongo_connection string_needed

# --- JWT ---
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d

# --- Cookies ---
COOKIE_DOMAIN=
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

# --- OTP ---
OTP_TTL_SECONDS=600
OTP_RESEND_COOLDOWN_SECONDS=60
OTP_MAX_ATTEMPTS=5

# --- Nodemailer SMTP ---
SMTP_HOST=
SMTP_PORT=
SMTP_EMAIL=
SMTP_PASSWORD=
EMAIL_FROM=
